.logo{
	position: relative;
	top:-5px ;
}

.btn-area {
    white-space: normal !important;
    height: 50px;
    width: 100px; 
}
/*html, body{
	background-color: white; !important;
	background: white !important;
}*/